// a.
.fade {

    &-enter-active,
    &-leave-active {
        opacity: 1;
        transition: all 0.2s;
    }

    &-enter,
    &-leave-to {
        opacity: 0;
    }

}

//

.slide {

    &-enter-active,
    &-leave-active,
    &-move {
        transition: 500ms cubic-bezier(0.59, 0.12, 0.34, 0.95);
        transition-property: all;
    }

    &-enter {
        opacity: 0;
        transform: translateX(50px) scaleY(0.5);
    }

    &-enter-to {
        opacity: 1;
        transform: scaleY(1);
    }

    &-leave-active {
        position: absolute;
    }

    &-leave-to {
        opacity: 0;
        transform-origin: center center;
    }
}

//

.scaleUp {
    animation: scaleUp 0.8s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}

@keyframes scaleUp {

    0% {
        opacity: $like-opacity;
    }

    50% {
        transform: rotate(-25deg) scale(2);
        opacity: 1;
    }

    100% {
        opacity: $like-opacity;

    }
}