$menu-min-width: 120px;
$menu-content-padding: 12px 14px;

.menu {

    @include form-panel();

    font-size: 12px;

    background-color: white;
    border-radius: 3px;
    list-style: none;

    padding: 0;
    margin: 0;

    z-index: 11;

    .item {

        @include transition(background);

        text-align: left;
        vertical-align: middle;
        white-space: nowrap;

        padding: $menu-content-padding;
        margin: 0;

        border-top: 1px solid $color-inactive;
        min-width: $menu-min-width;

        cursor: pointer;

        &:hover {
            background: $color-inactive;
        }

        &:first-child {
            border-top: none;
        }

    }

}