$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1340px
);

// Sizes
$breakpoint-small: map-get($grid-breakpoints, 'sm');
$breakpoint-tablet: map-get($grid-breakpoints, 'lg');
$breakpoint-desktop: map-get($grid-breakpoints, 'xl');

// Border
$border: 1px solid #BFC3D5;
$border-radius: 10px;

// Colors
$color-primary: #015292;
$color-accent: #167efa;
$color-dimmer: #A0A6BF;

$color-body-fg: #6A6E7E;
$color-body-bg: white;

// Modal
$modal-width: 49.5%;
$modal-height: 85%;
$modal-padding: 10px 40px;

// Font
$font-base-size: 16px;
$font-base-weight: 400;

$font-headings-size: 16px;
$font-headings-weight: 600;

$font-leading: 22px;
$word-spacing: 0px;

$font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Noto Sans", Ubuntu, Cantarell, "Helvetica Neue", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

$font-body: $font-family;
$font-headings: $font-family;
$font-monospace: monospace;